# ***Name : AFAQ AHMED***
# ***Req No : 23jzele0534***
# **Lab : 03**

# Lab Report

1. Make a list that contains the student name, the last four digits of the registration number as
an integer, the CGPA as a float, and a list that contains GPA of all semesters. (Nested List)

In [1]:
# list cantain student name, reg no and cgpa and all samester GPA
student_info = ['afaq ahmed',528,3.91,[3.86,3.95]]

In [2]:
print(student_info)

['afaq ahmed', 528, 3.91, [3.86, 3.95]]

Use list inducing in the following nested list and access each and every element.
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

In [3]:
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

In [4]:
x[0]

'a'

In [5]:
x[1][0]

'bb'

In [6]:
x[1][1][0]

'ccc'

In [7]:
x[1][1][1]

'ddd'

In [8]:
x[1][2]

'ee'

In [9]:
x[1][3]

'ff'

In [10]:
x[2]

'g'

In [11]:
x[3][0]

'hh'

In [12]:
x[3][1]

'ii'

In [13]:
x[4]

'j'

# Lab Practice

**List**

1. Make a list of 5 any integers.

In [ ]:
lst1 = [1,2,3,4,5]
print(lst1)

Make a list that contains the student's name, the last four digits of the registration number as an integer, CGPA as a float, and a list that contains the GPA of all semesters. (Nested List)

In [14]:
student = ['afaq ahmde', 528, 3.91, [3.86,3.95]]
print(student)

['afaq ahmde', 528, 3.91, [3.86, 3.95]]

In [15]:
print(student[2])

3.91

Print the list elements using the while loop and use the length function. (len)

In [16]:
i = 0
while i < len(student):
    print(student[i])
    i += 1

afaq ahmde
528
3.91
[3.86, 3.95]

In [17]:
print(student)

['afaq ahmde', 528, 3.91, [3.86, 3.95]]

Access the list of all semester GPAs using negative indexing.

In [18]:
student[-1]

[3.86, 3.95]

Make a list of the first 20 integers using the range function.

In [19]:
lst2 = [x for x in range(1,21)]
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Make a list of odd integers from 20 to 40 using the range function.

In [20]:
lst3 = [x for x in range(20,40) if x % 2 != 0]
print(lst3)

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

Consider the student list. *Student = [Ibrahim, Husain, Irfan, Ayub, Usman]* Use in and not in operators to ensure that the student is in the list or not.

In [21]:
Students = ['afaq ahmed', 'khan', 'Irfan', 'Ayub', 'Fawad']

In [23]:
print('Ibrahim1' in Students)
print('afaq ahmed' not in Students)
print('Ayub' in Students)
print('Fawad' not in Students)

False
False
True
False

Print all the student lists in task 8 using the for loop

In [24]:
for i in Students:
    print(i)

afaq ahmed
khan
Irfan
Ayub
Fawad

Observe what is print, what is the first thing print, what the last thing print. Consider task 8 for the student list.
Student [1:3] and student [2:4]

In [25]:
Students [1:3]

['khan', 'Irfan']

In [26]:
Students [2:4]

['Irfan', 'Ayub']

Make an appropriate list and use and demonstrate the use of the following mutator Methods.
* append(obj)
* extend(iterable)
* insert(index, obj)
* remove(obj)
* pop([index=-1])

In [27]:
lst5 = ['a','b','c','d','e','f']
lst5

['a', 'b', 'c', 'd', 'e', 'f']

In [28]:
lst5.append('g')
lst5

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [29]:
lst5.extend('h')
lst5

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [30]:
lst5.remove('x')
lst5

ValueError: list.remove(x): x not in list

In [ ]:
lst5.insert(2, 'x')
lst5

In [31]:
lst5.pop(-1)

'h'

Use list inducing in the following nested list and access each and every element.
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

In [32]:
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

In [33]:
print(x[0])

a

In [34]:
print(x[1][0])

bb

In [35]:
print(x[1][1][0])

ccc

In [36]:
print(x[1][1][1])

ddd

In [37]:
print(x[1][2])

ee

In [38]:
print(x[1][3])

ff

In [39]:
print(x[2])

g

In [40]:
print(x[3][0])

hh

In [41]:
print(x[3][1])

ii

In [42]:
print(x[4])

j

**Tuple**

1. Make a tuple containing first five letters of English. (definition)

In [43]:
tpl1 = ('a','b','c','d','e')

In [44]:
tpl1

('a', 'b', 'c', 'd', 'e')

Use the index to access the third and last element.

In [45]:
tpl1[2]

'c'

In [46]:
tpl1[4]

'e'

Make an appropriate list and tuple and use different operations that will show that list is mutable and tuple is immutable.

In [47]:
lst1 = ['a', 'b', 'c', 'd', 'e']

In [48]:
lst1

['a', 'b', 'c', 'd', 'e']

In [49]:
# .append()
lst1.append('f')    # list is mutable
print(lst1)

['a', 'b', 'c', 'd', 'e', 'f']

In [50]:
# .append()
tpl1.append('f')    # tuple is immutable and show error just after running
print(tpl1)

AttributeError: 'tuple' object has no attribute 'append'

In [51]:
lst1[2] = 'e'   # mutable
lst1

['a', 'b', 'e', 'd', 'e', 'f']

In [52]:
tpl1[0] = 'x'   # immutable it shwo an error juct after running
tpl1

TypeError: 'tuple' object does not support item assignment

Make a tuple num = (1, 2, 3, 4). a. Observe the output num[2] = 9

In [53]:
num[2] = 9  # i abserb that tuple is immutable

NameError: name 'num' is not defined

**Dictionary**

consider the following structure and observe. Fd= { ‘one’: ‘aik’, , ‘three’: ‘teen’, ‘ten’ : ‘das’, ‘fifteen’ : ‘pandra’}
Bracket type
* Print Fd
* Fd[‘one’]
* Fd[‘ten’]
* del Fd[‘three’] and then print Fd.
* Len(Fd).
* Use the key method and print the list of keys.
* Use the value function to print the list of values.
* Observe the output of Fd.items().
* Observe the output Fd.has_key(‘one) and Fd.has_key(‘two’) and think where such type of output will help and required.
* To copy the dictionary, one may use one of the following. Verify by printing copy and alias.
* copy = Fd.copy()
* alias = Fd
* Now let alias[‘three’] = ‘3’, now print alias and observe the result.
* Also let copy[‘three’] = ‘3’, now print copy and observe the result.

In [54]:
fd= { 'one': 'aik', 'three': 'teen', 'ten' : 'das', 'fifteen' : 'pandra'}
print(type({}))

<class 'dict'>

In [55]:
print(fd)

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [56]:
fd['one']

'aik'

In [57]:
fd['ten']

'das'

In [58]:
del fd['three']
print(fd)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

In [59]:
len(fd)

3

In [60]:
fd.keys()

dict_keys(['one', 'ten', 'fifteen'])

In [61]:
fd.values()

dict_values(['aik', 'das', 'pandra'])

In [62]:
fd.items()

dict_items([('one', 'aik'), ('ten', 'das'), ('fifteen', 'pandra')])

In [63]:
fd.has_key('one')   # in ptython 3 .has_key methode were remove after running it show error

AttributeError: 'dict' object has no attribute 'has_key'

 Observe the output Fd.has_key(‘one) and Fd.has_key(‘two’) and think where such type of output will help and required

To copy the dictionary, one may use one of the following. Verify by printing copy and alias.
* copy = Fd.copy()
* alias = Fd
* Now let alias[‘three’] = ‘3’, now print alias and observe the result.
* Also let copy[‘three’] = ‘3’, now print copy and observe the result.

In [64]:
copy = fd.copy()

In [65]:
alias = copy

In [66]:
alias['three'] = '3'
alias

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}

In [67]:
copy['three'] = '3'
copy

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}

Make an appropriate dictionary and use the following built-in function and observe the
result.
* .clear()
* .get()
* .item()
* .keys()
* .vallues()

In [68]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'f':5}
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'f': 5}

In [69]:
dict1.get('b')    #.get()

2

In [70]:
dict1.get('f')  # .get()

5

In [71]:
dict1.items()     #  .items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('f', 5)])

In [72]:
dict1.keys()     # .keys()

dict_keys(['a', 'b', 'c', 'd', 'f'])

In [73]:
dict1.values()       # .values()

dict_values([1, 2, 3, 4, 5])

In [74]:
dict1.clear()          # .clear()

In [75]:
dict1

{}

**List comprehension:**

a. Consider the following code and print the square.

In [76]:
squares = []   # this simple way to print squares of number  from 1 to 10
for x in range(10):
 squares.append(x * x)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Replace the above code with the following. Print the square. This sample one-line code is called list comprehension.

In [77]:
squares = [x * x for x in range(10)]  # this list comprehension way to print squares of number  from 1 to 10
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Change x*x by any function of x and observe the resulting list.

In [78]:
squares = [x for x in range(10)] 
squares

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

List comprehensions can filter values based on some arbitrary condition that decides whether or not the resulting value becomes a part of the output list.

In [79]:
even_squares = [x * x for x in range(10) if x % 2 == 0]   # list  comperhension
even_squares

[0, 4, 16, 36, 64]

The generalized syntax: values = [expression for item in collection if condition]
This new list comprehension can be transformed into an equivalent for-loop:

In [80]:
even_squares = []           #  simple form to print number with for loop
for x in range(10):
    if x % 2 == 0:
        even_squares.append(x * x)
even_squares

[0, 4, 16, 36, 64]

**Dictionary comprehension:**

a. { x: x * x for x in range(5) }

In [81]:
a = { x: x * x for x in range(5) }

In [82]:
a

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}